itops-multiagent-system/step-functions/incident-workflow.json
{
  "Comment": "Multi-Agent IT Operations Incident Response Workflow",
  "StartAt": "TriageIncident",
  "States": {
    "TriageIncident": {
      "Type": "Task",
      "Resource": "arn:aws:states:::lambda:invoke",
      "Parameters": {
        "FunctionName": "ITOps-Agent-Triage",
        "Payload": {
          "incident_id.$": "$.incident_id",
          "incident.$": "$.incident"
        }
      },
      "ResultPath": "$.triage_result",
      "ResultSelector": {
        "result.$": "$.Payload.result"
      },
      "Retry": [
        {
          "ErrorEquals": ["States.TaskFailed"],
          "IntervalSeconds": 5,
          "MaxAttempts": 3,
          "BackoffRate": 2.0
        }
      ],
      "Catch": [
        {
          "ErrorEquals": ["States.ALL"],
          "ResultPath": "$.error",
          "Next": "NotifyFailure"
        }
      ],
      "Next": "NotifyTriageComplete"
    },

    "NotifyTriageComplete": {
      "Type": "Task",
      "Resource": "arn:aws:states:::lambda:invoke",
      "Parameters": {
        "FunctionName": "ITOps-Notification-Sender",
        "Payload": {
          "incident_id.$": "$.incident_id",
          "type": "triage_complete",
          "data.$": "$.triage_result.result"
        }
      },
      "ResultPath": null,
      "Next": "CheckSeverity"
    },

    "CheckSeverity": {
      "Type": "Choice",
      "Choices": [
        {
          "Variable": "$.triage_result.result.routing",
          "StringEquals": "escalate",
          "Next": "EscalateToHuman"
        },
        {
          "Variable": "$.triage_result.result.routing",
          "StringEquals": "auto_resolve",
          "Next": "AutoResolve"
        }
      ],
      "Default": "RootCauseAnalysis"
    },

    "EscalateToHuman": {
      "Type": "Task",
      "Resource": "arn:aws:states:::lambda:invoke",
      "Parameters": {
        "FunctionName": "ITOps-Notification-Sender",
        "Payload": {
          "incident_id.$": "$.incident_id",
          "type": "escalation",
          "data": {
            "severity": "critical",
            "message": "Immediate human intervention required"
          }
        }
      },
      "ResultPath": null,
      "Next": "WorkflowComplete"
    },

    "AutoResolve": {
      "Type": "Pass",
      "Parameters": {
        "incident_id.$": "$.incident_id",
        "status": "auto_resolved",
        "message": "Issue resolved automatically based on known solutions"
      },
      "Next": "NotifyResolution"
    },

    "RootCauseAnalysis": {
      "Type": "Task",
      "Resource": "arn:aws:states:::lambda:invoke",
      "Parameters": {
        "FunctionName": "ITOps-Agent-RootCause",
        "Payload": {
          "incident_id.$": "$.incident_id",
          "incident.$": "$.incident"
        }
      },
      "ResultPath": "$.rca_result",
      "ResultSelector": {
        "result.$": "$.Payload.result"
      },
      "TimeoutSeconds": 300,
      "Retry": [
        {
          "ErrorEquals": ["States.TaskFailed", "States.Timeout"],
          "IntervalSeconds": 10,
          "MaxAttempts": 2,
          "BackoffRate": 2.0
        }
      ],
      "Catch": [
        {
          "ErrorEquals": ["States.ALL"],
          "ResultPath": "$.error",
          "Next": "NotifyFailure"
        }
      ],
      "Next": "NotifyRootCauseFound"
    },

    "NotifyRootCauseFound": {
      "Type": "Task",
      "Resource": "arn:aws:states:::lambda:invoke",
      "Parameters": {
        "FunctionName": "ITOps-Notification-Sender",
        "Payload": {
          "incident_id.$": "$.incident_id",
          "type": "root_cause_found",
          "data.$": "$.rca_result.result"
        }
      },
      "ResultPath": null,
      "Next": "GenerateRemediation"
    },

    "GenerateRemediation": {
      "Type": "Task",
      "Resource": "arn:aws:states:::lambda:invoke",
      "Parameters": {
        "FunctionName": "ITOps-Agent-Remediation",
        "Payload": {
          "incident_id.$": "$.incident_id",
          "incident.$": "$.incident",
          "root_cause.$": "$.rca_result.result"
        }
      },
      "ResultPath": "$.remediation_result",
      "ResultSelector": {
        "result.$": "$.Payload.result"
      },
      "Retry": [
        {
          "ErrorEquals": ["States.TaskFailed"],
          "IntervalSeconds": 5,
          "MaxAttempts": 2,
          "BackoffRate": 2.0
        }
      ],
      "Catch": [
        {
          "ErrorEquals": ["States.ALL"],
          "ResultPath": "$.error",
          "Next": "NotifyFailure"
        }
      ],
      "Next": "CheckRemediationStatus"
    },

    "CheckRemediationStatus": {
      "Type": "Choice",
      "Choices": [
        {
          "Variable": "$.remediation_result.result.status",
          "StringEquals": "pending_approval",
          "Next": "NotifyApprovalRequired"
        },
        {
          "Variable": "$.remediation_result.result.status",
          "StringEquals": "executed",
          "Next": "NotifyResolution"
        }
      ],
      "Default": "NotifyFailure"
    },

    "NotifyApprovalRequired": {
      "Type": "Task",
      "Resource": "arn:aws:states:::lambda:invoke",
      "Parameters": {
        "FunctionName": "ITOps-Notification-Sender",
        "Payload": {
          "incident_id.$": "$.incident_id",
          "type": "approval_required",
          "data.$": "$.remediation_result.result"
        }
      },
      "ResultPath": null,
      "Next": "WaitForApproval"
    },

    "WaitForApproval": {
      "Type": "Wait",
      "Seconds": 300,
      "Next": "CheckApprovalStatus"
    },

    "CheckApprovalStatus": {
      "Type": "Task",
      "Resource": "arn:aws:states:::lambda:invoke",
      "Parameters": {
        "FunctionName": "ITOps-Approval-Checker",
        "Payload": {
          "approval_id.$": "$.remediation_result.result.approval_id"
        }
      },
      "ResultPath": "$.approval_check",
      "ResultSelector": {
        "approved.$": "$.Payload.approved",
        "status.$": "$.Payload.status"
      },
      "Next": "EvaluateApproval"
    },

    "EvaluateApproval": {
      "Type": "Choice",
      "Choices": [
        {
          "Variable": "$.approval_check.approved",
          "BooleanEquals": true,
          "Next": "ExecuteApprovedRemediation"
        },
        {
          "Variable": "$.approval_check.status",
          "StringEquals": "rejected",
          "Next": "HandleRejection"
        }
      ],
      "Default": "WaitForApproval"
    },

    "ExecuteApprovedRemediation": {
      "Type": "Pass",
      "Parameters": {
        "incident_id.$": "$.incident_id",
        "status": "remediation_approved",
        "message": "Executing approved remediation plan"
      },
      "Next": "NotifyResolution"
    },

    "HandleRejection": {
      "Type": "Pass",
      "Parameters": {
        "incident_id.$": "$.incident_id",
        "status": "remediation_rejected",
        "message": "Remediation plan rejected - escalating to manual handling"
      },
      "Next": "EscalateToHuman"
    },

    "NotifyResolution": {
      "Type": "Task",
      "Resource": "arn:aws:states:::lambda:invoke",
      "Parameters": {
        "FunctionName": "ITOps-Notification-Sender",
        "Payload": {
          "incident_id.$": "$.incident_id",
          "type": "resolved",
          "data": {
            "status": "resolved",
            "timestamp.$": "$$.State.EnteredTime"
          }
        }
      },
      "ResultPath": null,
      "Next": "WorkflowComplete"
    },

    "NotifyFailure": {
      "Type": "Task",
      "Resource": "arn:aws:states:::lambda:invoke",
      "Parameters": {
        "FunctionName": "ITOps-Notification-Sender",
        "Payload": {
          "incident_id.$": "$.incident_id",
          "type": "workflow_error",
          "data": {
            "error.$": "$.error"
          }
        }
      },
      "ResultPath": null,
      "Next": "WorkflowFailed"
    },

    "WorkflowComplete": {
      "Type": "Succeed"
    },

    "WorkflowFailed": {
      "Type": "Fail",
      "Error": "WorkflowExecutionFailed",
      "Cause": "One or more agents failed during execution"
    }
  }
}